<h3>Upload a Scanned Matrix Plate</h3>
<form action="/" method="post">
  <div class="form_field">
    <input type="file" name="uploaded_data">
	<input type="submit" value="Upload">
  </div>
</form>
<h5>This requires a 600dpi scan of the plate like so:</h5>
<image src="example.png">
