<h3>Upload a Scanned Matrix Plate</h3>
<form action="/" method="post" enctype="multipart/form-data">
  <div class="form_field">
    <input type="file" name="file">
	<input type="submit" value="Upload">
  </div>
</form>
<h5>This requires a 600dpi scan of the plate like so:</h5>
<image src="example.png">
