<html>
  <head>
    <title>Matrix Scanner</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
